.background-box {
    width: 800px;
    height: 480px;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    text-align: center;
    line-height: 200px;
}

