@using TaskManager.Components.Layout;
@inject AppDbContext Db
@using System.Configuration
@using Microsoft.EntityFrameworkCore
@using TaskManager.Models

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TaskManager</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Главная
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add_tasks">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Добавить задачу
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calendar">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Календарь
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="bi bi-person-plus-nav-menu" aria-hidden="true"></span> Регистрация
            </NavLink>
        </div>
    </nav>
</div>
