.overflow-box {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: lightcoral;
}
.hidden{
    overflow:hidden;
}

.scroll{
    overflow: scroll;
}

.auto {
    overflow: auto;
}
