<h3>Регистрация</h3>

<EditForm>
    <InputText @bind-Value type="text"/>
    <InputText @bind-Value type="email"/>
    <InputText @bind-Value type="password"/>
    <InputText @bind-Value type="password"/>
    <button type="submit">Зарегестрироваться</button>
</EditForm>

@code {
    
}