@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <h3 class="logo">TaskManager</h3>

        <nav>
            <NavLink href="/" class="nav-link"> Главная</NavLink>
            <NavLink href="/add_tasks" class="nav-link"> Добавить задачу</NavLink>
            <NavLink href="/calendar" class="nav-link"> Календарь</NavLink>
        </nav>
    </div>

    <main>
        <div class="topbar">
            <span>Добро пожаловать!</span>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </main>
</div>